<?php
$configJSONString = '{{ phpmyadmin_cfg|to_nice_json }}';
$tmpSetting = json_decode($configJSONString, true);
$cfg = $tmpSetting;
unset($cfg['Servers']);
// server list reindex
$i = 0;
foreach ($tmpSetting['Servers'] as $value) {
    $i++;
    $cfg['Servers'][$i] = $value;
}
